@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/
body{
    background-color: rgb(117, 99, 92); 
    font-family: Arial, Helvetica, sans-serif;   
}

h1{
    color: rgb(58, 45, 45);
}

h1#principal{
    text-align: center;
    background-color: rgb(83, 81, 72);
}

.intermediario{
    color: rgb(87, 68, 42);
}

.avancado{
    color: rgb(90, 22, 22);
}
h2{
    color: rgb(94, 68, 66);
}